html { 
  background: url(images/background2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*credit: https://css-tricks.com/perfect-full-page-background-image/ */
}

body {
  	margin: 0px;
}


header {
padding: 10px;
background-color: #000;
width: 100%;
height: 80px; 
}

h1 {
  margin-bottom: .3em;
  color: #eea924;
}

footer {
padding: 10px 0 0 0;
background-color: #000;
width: 100%;
height: 30px; 
color: white;
font-family: "Arial", sans-serif;
font-variant: small-caps;
text-align: right;
}


#bottom{
  position: fixed;
  bottom: 0;  
  left: 0;
  right: 0;
}

#footerspace{
  margin-right: 30px;
}
	
#formposition
{
	margin-left: 200px;
  margin-top: -80px
	}

  #main {
    width: 300px;
    height: 360px;
    background-color: #000;
    margin: 50px 0 0  20px;
    font-family: Arial, sans-serif;
    line-height: 1.7em;
    color: white;
    padding: 20px;

  }

  #feature {
    width: 300px;
    height: 240px;
    background-color: #000;
    margin: 50px 0 0  300px;
    font-family: Arial, sans-serif;
    line-height: 1.7em;
    color: white;
    display:;
  }

  #featurecaption {
    font-family: Arial;
    color: #fff;
    font-size: 11px;
    margin-top: -6px;
    margin-left: 6px;

  }

  .volume {
  position: fixed;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  background-color: #000;
  border-radius: 0;
  color: white;
  width: 140px;
  }

  a.homelinks:link {
    color: white;
    text-decoration: none;
  }
  a.homelinks:hover {
    color:#2f819f;
    text-decoration: none;
  }